@import-normalize;
@tailwind base;
@tailwind components;

@layer components {
  *,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .App {
    @apply min-h-screen capitalize overflow-hidden;
  }
  .flexCenter{
    @apply flex justify-center items-center;
  }
  .flexCenterM{
    @apply flex justify-center items-center flex-col md:flex-row;
  }
  .active-nav-link{
    @apply border-b border-sideColor-light text-sideColor-light ;
  }
  .nav-Link {
    @apply font-semibold rounded-2xl p-2 transition-all hover:bg-primary;
  }
  .sideNav {
    @apply w-0 h-screen fixed z-50 top-0 left-0 overflow-hidden flex justify-start items-center flex-col transition-all text-sideColor dark:text-sideColor bg-secondary dark:bg-primary text-lg ;
  }
  .sideNav-Links {
    @apply flexCenter flex-col justify-around m-3 text-sideColor text-xl ;
  }
  .sideNav-Links a{
    @apply my-5 pb-2 flexCenter hover:text-primary font-bold transition-all;
  }
  .HbtnLinks{
    @apply flexCenter hidden md:flex; 
  }
  .HbtnLinks a{
    @apply bg-sideColor text-center shadow-md w-36 text-secondary font-bold p-4 uppercase mx-3 hover:bg-primary transition-all hover:text-sideColor; 
  }
  .fHeader {
    @apply flexCenter justify-start flex-col w-screen h-auto bg-cover;
  }
  .fHeader .imgContainer{
    @apply w-full h-55vh md:h-80vh overflow-hidden relative ;
  }
  .fHeader img{
    max-width: none
  }
  .fHeader .Hpres{
    @apply w-full h-full text-center p-4 absolute top-0 right-0 flexCenter flex-col text-sideColor uppercase;
  }
  .fHeader .Hpres h1{
    @apply text-5xl md:text-7xl pb-6 font-bold drop-shadow-lg textShadowPrimary;
  }
  .fHeader .Hpres h1 span{
    @apply text-primary;
  }
  .fHeader .Hpres p{
    @apply text-lg md:text-2xl font-semibold pb-6 drop-shadow-lg textShadowPrimary;
  }
  .fHeader .Hpres a{
    @apply btn-main1 drop-shadow-lg md:w-72 w-56 text-base md:text-xl shadow-md ;
  }
  .fHeader .Hpres2{
    @apply w-full h-full p-4 relative top-0 right-0 flexCenter flex-col text-sideColor uppercase;
  }
  .fHeader .Hpres2 h1{
    @apply w-full text-center pb-0 text-6xl md:text-8xl font-bold drop-shadow-lg textShadowPrimary;
  }
  .orangeDiv {
    @apply flexCenterM;
  }
  .orangeDiv a{
    @apply bg-sideColor text-sm md:text-base text-center w-64 text-primary font-semibold p-4 uppercase mx-2 md:mx-5 my-2 md:my-0 hover:bg-secondary hover:text-sideColor transition-all;
  }
  .Hparagraph {
    @apply text-center text-secondary ;
  }
  .Hparagraph span{
    @apply text-base font-bold relative md:text-xs;
  }
  .Hparagraph span::before{
    content:'';
    position: absolute;
    width: 30PX;
    height: 2px;
    background-color: #151515;
    top: 50%;
    left: -50%;
    translate: transformY(-50%);
  }
  .Hparagraph span::after{
    content:'';
    position: absolute;
    width: 30PX;
    height: 2px;
    background-color: #151515;
    top: 50%;
    right: -50%;
    translate: transformY(-50%);
  }
  .Hparagraph h1{
    @apply text-2xl py-3 font-bold md:text-3xl;
  }
  .Hparagraph p{
    @apply text-xs md:text-sm mb-4 ;
  }

  /* about */
  .aboutPar {
    @apply flexCenter my-6 md:flex-row flex-col p-4 justify-around;
  }
  .aboutPar .Imgcontainer{
    @apply md:w-2/5 w-full md:max-w-1/2 order-2 md:order-1;
  }
  .aboutPar .par1{
    @apply md:w-3/4 w-full mb-4 order-1 md:order-2;
  }
  .aboutPar .par1 h2{
    @apply font-bold text-left md:text-center md:text-3xl text-2xl w-full pb-2;
  }
  .aboutPar .par1 p{
    @apply md:text-base text-sm;
  }
  .span2swd{
    @apply text-base font-bold relative md:text-xs;
  }
  .span2swd::before{
    content:'';
    position: absolute;
    width: 30PX;
    height: 2px;
    background-color: #151515;
    top: 35%;
    left: 30%;
    translate: transformY(-50%);
  }
  .span2swd::after{
    content:'';
    position: absolute;
    width: 30PX;
    height: 2px;
    background-color: #151515;
    top: 35%;
    right: 30%;
    translate: transformY(-50%);
  }



  /* .slider {
    @apply  flexCenter flex-col mt-4 mb-24 w-full h-56 md:h-96 relative;
  }
  .slider .container {
    @apply  w-full h-full overflow-hidden relative;
  }
  /* .slider .container img{
    @apply;
  } */
  /* .slider .container .title {
    @apply  flexCenter items-start flex-col h-full w-1/2 absolute top-0 left-0 p-8 -translate-y-1/2  bg-primary bg-opacity-50;
  }
  .slider .container .title h1{
    @apply text-sideColor font-bold lg:text-4xl sm:text-3xl text-lg textShadowPrimary md:pb-8 pb-4;
  }
  .slider .container .title p{
    @apply text-sideColor font-semibold lg:text-lg md:text-base sm:text-sm text-xs textShadowPrimary;
  }
  .slider .human {
    @apply lg:w-1/2 w-2/3 absolute top-0 -right-16 -translate-y-1/2 z-20 shadow-none;
  }
  .slider .shadow {
    @apply lg:w-1/2 w-2/3 absolute top-0 -right-16 m-2 -translate-y-1/2 z-10 opacity-50 shadow-none;
  }
  .slider .shadow {
    filter: brightness(0%);
  } */

  /* philosophy */
  .philosophy {
    @apply flexCenterM items-start;
  }
  .philosophy .container{
    @apply flexCenter flex-col md:mx-3 mx-0;
  }
  .philosophy .container img{
    @apply md:w-3/4 w-full;
  }
  .philosophy h2{
    @apply font-bold text-xl my-2;
  }
  .philosophy p{
    @apply md:text-base text-sm mb-2;
  }
  
  .activity {
    height: 400px;
  }
  .location {
    width: 400px;
  }

  .c2lTop {
    top: 87%;
    cursor: pointer;
  }
  .c2lTop:hover {
    top: 0%;
    justify-content: center !important;
  }

  .footer-links {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-1 text-primary ;
  }
  .footer-links a {
    @apply text-sideColor md:pr-0 pr-4 text-opacity-50 hover:text-opacity-100 my-3 md:my-0;
  }
  .footer-links span {
    @apply hidden md:block;
  }
  .btn-main1 {
    @apply bg-primary text-center text-sideColor font-bold md:p-6 p-4 cursor-pointer hover:bg-sideColor hover:text-primary;
  }
  .btn-main2 {
    @apply bg-secondary text-center text-sideColor font-bold p-6 cursor-pointer hover:bg-primary;
  }
  .btn-Primary {
    @apply bg-sideColor text-sm md:text-base text-center w-full text-primary font-semibold p-4 uppercase mx-2 md:mx-5 my-2 md:my-0 hover:bg-secondary hover:text-sideColor transition-all;
  }
  .noOverflowText {
    @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
  }
  .noOverflowText-2lines{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .insetShadow{
    box-shadow: inset 0px 5px 10px 18px black;
  }
  .textShadowPrimary {
    text-shadow: 2px 2px 5px #0000007a;
  }
  .bluredHmain {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    /* box-shadow:inset 10px 10px 5px #000;
    -moz-box-shadow:inset 10px 10px 5px #000;
    -webkit-box-shadow:inset 10px 10px 5px #000;
    -khtml-box-shadow:inset 10px 10px 5px #000; */
  }
  .darkerImg {
    filter: brightness(50%)
  }
  .gradientPr{
    background: rgb(255,94,14);
    background: linear-gradient(90deg, rgba(255,94,14,1) 48%, rgba(254,183,0,1) 100%);
  }

  .confirmBuy {
    @apply w-screen flexCenter flex-col bg-secondary-light text-sideColor p-2 mt-3;
  }

  .confirmBuy h2{
    @apply text-2xl text-sideColor w-full text-center font-bold;
  }

  .confirmBuy .card {
    @apply md:w-1/2 w-full flexCenter flex-col items-start bg-sideColor-light text-secondary-dark py-3 px-3 pb-1 my-4;
  }

  .confirmBuy .card .sec{
    @apply w-full flexCenter justify-between bg-sideColor-light text-secondary-dark;
  }

  .confirmBuy .card .sec .change, .confirmBuy .card .sec .change p{
    @apply opacity-70 lowercase text-sm cursor-pointer;
  }

  .confirmBuy .card h3{
    @apply uppercase text-base pb-3 text-gray-600 font-bold;
  }

  .confirmBuy .card p{
    @apply uppercase text-lg pb-3 text-secondary-light font-bold;
  }

  .confirmBuy .card p span{
    @apply text-sm lowercase;
  }

  .joinS {
    @apply w-full flexCenter flex-col border-b border-secondary-light py-4;
  }

  .joinS h1 {
    @apply text-primary font-bold pb-4 text-lg uppercase w-full text-left;
  }

  .fieldInput {
    @apply flexCenter flex-col w-full;
  }

  .fieldInput .form {
    @apply w-full
  }

  .fieldInput .formbtns {
    @apply bg-secondary hover:bg-primary transition-all rounded-sm text-sideColor p-4 px-0 flexCenter w-full max-w-xs cursor-pointer;
  }

  .multi-col {
    @apply flexCenter w-full justify-between;
  }

  .multi-col .form:nth-child(1) {
    @apply mr-2;
  }

  .form input, .form textarea, .form select {
    @apply border border-secondary-dark border-opacity-50 w-full mb-4 mt-1 p-3 pl-4 text-base rounded-sm;
  }
  .form textarea {
    min-height: 24px;
  }
  .form input placeholder {
    @apply text-secondary-dark opacity-50 capitalize;
  }
  .form label{
    @apply text-secondary-dark justify-self-start font-semibold uppercase;
  }
  .file-input {
    @apply group border border-secondary border-dotted border-opacity-50 cursor-pointer active:bg-sideColor  ;
  }
  .file-input::-webkit-file-upload-button {
    visibility: hidden;
  }
  .file-input::before {
    content: 'Choose a file';
  }
  .file-input::before {
    @apply text-secondary text-center opacity-50 inline-block bg-transparent cursor-pointer outline-none w-full whitespace-nowrap;
  }
  .grid-cards-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  @media (max-width: 500px) {
    .locationImg {
      height: 100% ;
      width: auto ;
    }
  }

  @media (max-width: 425px) {
    .activity {
      width: 100% !important;
    }
    .location {
      width: 97% !important;
    }
  }
};

@tailwind utilities;

::-webkit-scrollbar {
  @apply border border-solid border-primary border-opacity-10 border-t-0 border-b-0 bg-transparent w-2 ;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-secondary opacity-50 hover:bg-primary;
}